<p>Please enter a game name</p>
<input id="test" type="text" rel="noreferrer">
<button onClick={getName()}>Submit</button>

<script>
function getName(){
    // attribution:
    // https://www.w3schools.com/howto/howto_js_redirect_webpage.asp
    var url = "http://memory2.paperdogg.com/games/" +
                document.getElementById("test").value;
    window.location.href = url;
}
</script>
