/* This file is for your main application css. */

@import "~milligram/dist/milligram";

.row {
  width: 13%;
}

.column {
  margin-right: 13px;
}

.wrapper {
  margin: auto;
  width: 50%
}

/* button > p {
  text-align: center;
  font-size: 72px;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
} */
