/* This file is for your main application css. */

@import "~milligram/dist/milligram";

.row {
  width: 30%;
}

.wrapper {
  margin: auto;
  width: 50%
}

button {
  width: 120%;
  height: 120%;
  margin-left: auto;
  margin-right: auto;
}

button > p {
  text-align: center;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
}
